<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>FootPrint - China</title>
    <link rel="stylesheet" type="text/css" href="/static/css/footprint.css"/>
    <script src="/static/js/map_histogram/d3.v3.min.js" charset="utf-8"></script>
    <script src="/static/js/map_histogram/queue.v1.min.js"></script>
    <script type="text/javascript" src="/static/js/map_histogram/jquery.min.js"></script>
  </head>
  <body>
    <script type="text/javascript" src="/static/js/map_histogram/footprint-china.js"></script>
  </body>
</html>
