<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="/static/css/jumbotron.css" rel="stylesheet">
    <link href="/static/css/d3_pm2_5_visual.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="/static/js/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!script src="../../assets/js/ie-emulation-modes-warning.js"><!/script>

    <!script src="../../assets/js/ie10-viewport-bug-workaround.js"><!/script>
    <script src="/static/js/d3.v3.min.js"></script>
    <script src="/static/js/d3.tip.v0.6.3.js"></script>
  </head>

  <body>

    {% include 'navbar.html' %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">        
        <br>
        <h3>This is the data Visualization using <a href="http://d3js.org/">d3</a>.</h3>   
        <h2>Best VS Worst</h2>
          <div id="best-cities-histogram">
          </div>
    </div>
    </div> 

    
    <div class="container">
      
          
       
    </div> 
    {% include 'footer.html' %}
  


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   

    <!-- d3.js code for the Ranking: Best VS Worst-->
    <script>
              var margin = {top: 40, right: 20, bottom: 30, left: 40},
                  width = 960 - margin.left - margin.right,
                  height = 500 - margin.top - margin.bottom;
                  // width = 960
                  // height = 640



              var w = window,
              d = document,
              e = d.documentElement,
              g = d.getElementsByTagName('body')[0],
              width = w.innerWidth || e.clientWidth || g.clientWidth,
              height = w.innerHeight|| e.clientHeight|| g.clientHeight;
              width = 1100;
              height = 640;
              


              // var color = d3.scale.linear()
              //            .domain([0,50])//input
              //            .range(["green","red"])//output
              var color = d3.scale.quantize()
                         .domain([0,300])//input
                         .range(["#19D311","#D8D014","#DDA30D","#DD810B","#F57703","#red","#000000"])//output


              var formatPercent = d3.format(".0%");

              var x = d3.scale.ordinal()
                  .rangeRoundBands([0, width], .1);

              var y = d3.scale.linear()
                  .range([height, 0]);

              var xAxis = d3.svg.axis()
                  .scale(x)
                  .orient("bottom");

              var yAxis = d3.svg.axis()
                  .scale(y)
                  .orient("left")
                  // .tickFormat(formatPercent);

              var tip = d3.tip()
                .attr('class', 'd3-tip')
                .offset([-10, 0])
                .html(function(d) {
                  return d.city + " <strong>PM2_5:</strong> <span style='color:red'>" + d.PM2_5 + "</span>";
                })
              var svg = d3.select("#best-cities-histogram").append("svg")
                  .attr("width", width + margin.left + margin.right)
                  .attr("height", height + margin.top + margin.bottom)
                  .attr("align","center")
                .append("g")
                  .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

              svg.call(tip);

              d3.tsv("/static/data/city_data.tsv", type, function(error, data) {
                x.domain(data.map(function(d) { return d.city; }));
                y.domain([0, d3.max(data, function(d) { return d.PM2_5; })]);

                svg.append("g")
                  .attr("class", "x axis")
                  .attr("transform", "translate(0," + height + ")")
                  .attr("height","50")
                  // .call(xAxis)
                  // .selectAll("text")
                  //   .attr("y", 0)
                  //   .attr("x", 9)
                  //   .attr("dy", "0.35em")
                  //   .attr("transform", "rotate(90)")
                  //   .style("text-anchor", "start");
                  

                svg.append("g")
                    .attr("class", "y axis")
                    .call(yAxis)
                  .append("text")
                    .attr("transform", "rotate(0)")
                    .attr("y", 6)
                    .attr("dy", ".71em")
                    .style("text-anchor", "end")
                    .text("PM2.5");

                svg.selectAll(".bar")
                    .data(data)
                  .enter().append("rect")
                    .attr("class", "bar")
                    .attr("x", function(d) { return x(d.city); })
                    .attr("width", x.rangeBand())
                    .attr("y", function(d) { return y(d.PM2_5); })
                    .attr("height", function(d) { return height - y(d.PM2_5); })
                    .attr("fill", function(d) {return color(d.PM2_5)})
                    .on('mouseover', tip.show)
                    .on('mouseout', tip.hide)

              });

              function type(d) {
                d.PM2_5 = +d.PM2_5;
                return d;
              }
    </script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
